<div class="banner-head">
    <p class="banner-head-text">Call us: (01327) 227 370</p>
</div>
<div>
    <div class="logo-banner">
        <img src="/assets/images/chest-with-text.svg" alt="Antiquarium Logo" class="logo">
    </div>
</div>
<div class="welcome-banner">
    <h1 class="welcome">WELCOME</h1>
</div>
<div class="about-external-banner">
    <div class="about-internal-banner">
        <div class="about-internal-content">
            <h1 class="about-internal-header">ABOUT</h1>
            <p>Here at the Antiquarium we aim to...</p>
            <div class="about-internal-button-container">
                <button class="about-internal-button">Find out more...</button>
            </div>
        </div>
    </div>
</div>
<div class="events-banner">
    <button class="events-button">Find out what events are going on!</button>
</div>
<div class="items-banner-header">
    <h1>Here's some of our items!</h1>
</div>
<div class="items-banner">
    <button class="items-button">View more items here!</button>
</div>
<div class="contact-banner">
    <h1 class="contact-header">Contact us:</h1>
</div>
<div class="contact-content">
    <div class="flex-container">
        <div class="contact-section">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" class="contact-text-box-small">
        </div>
        <div class="contact-section">
            <label for="phone-number">Phone Number*</label>
            <input type="text" id="phone-number" name="phone-number" class="contact-text-box-small">
        </div>
        <div class="contact-section">
            <label for="email">E-mail</label>
            <input type="text" id="phone-number" name="phone-number" class="contact-text-box-small">
        </div>
    </div>
    <div class="flex-container">
        <div class="contact-message-area">
            <label for="contact-message">Message:</label>
            <textarea name="contact-message" rows="10" cols="150" class="contact-message-box"></textarea>
        </div>
        <div class="optional-reminder">
            <p>Fields marked with * are optional</p>
            <button class="send-message-button">Send Message</button>
        </div>
    </div>
</div>
