<div class="banner-header">
    <h1>About the Antiquarium</h1>
</div>
<div>
    <h2 class="opening-hours-header">Opening Hours:</h2>
    <div class="opening-hours">
        <ul>
            <li>Mon: 10:00 - 17:00</li>
            <li>Tue: 10:00 - 17:00</li>
            <li>Wed: 10:00 - 17:00</li>
            <li>Thur: 10:00 - 17:00</li>
            <li>Fri: 10:00 - 17:00</li>
            <li>Sat: 10:00 - 17:00</li>
            <li>Sun: 10:00 - 16:00</li>
        </ul>
    </div>
</div>
<div class="information-header">
    <h1 class="information-header-text">The Antiquarium Ltd...</h1>
</div>
<div class="information-area">
    <div class="information">
        <p>...is a retail outlet containing many independant traders selling antiques, vintage, handmade goods, curios, jewellery and artwork. We are open 7 days a week and
            can be located in the beautiful Ordnance Depot in Weedon Bec.
        </p>
    </div>
</div>
<div class="store-banner">
    <h1 class="looking-for-antiques">Looking for antiques?</h1>
</div>
<div class="store-area">
    <h1 class="store-ad-header">We might have what you're looking for!</h1>
    <div class="store-image"></div>
    <div class="store-button-container">
        <button class="store-button">Browse our wares</button>
    </div>
</div>
<div class="location-banner">
    <h1 class="location-header">Where to find us:</h1>
</div>
<div class="location-area">
    <div class="flex-container">
        <div class="map-directions">
            <p class="directions">
                From Towcester: <br>
                Travel North up the A5 until you see a turning to the left for Bridge Street. Follow it until you can turn right onto Harman's Way. Then take your first left
                through the gate to the Munitions Depot. The Antiquarium is the left-hand side of the first building on the right.
            </p>
            <p class="directions">
                From Rugby: <br>
                Travel South down the A5 until you see a turning to the right for Bridge Street. Follow it until you can turn right onto Harman's Way. Then take your first left
                through the gate to the Munitions Depot. The Antiquarium is the left-hand side of the first building on the right.
            </p>
            <p class="directions">
                From Daventry: <br>
                Travel East along the A45 until you reach a roundabout that allows you onto High Street. From there look for a turning on the right to Harman's Way. Follow Harman's
                Way until you reach a turning on your right to the Munitions Depot. The Antiquarium is the left-hand side of the first building on the right.
            </p>
            <p class="directions">
                From Weedon Bec: <br>
                Travel North up Bridge Street and over the River Nene. Keep following until you reach Harman's Way. Follow Harman's Way and take the first left into the Munitions 
                Depot. The Antiquarium is the left-hand side of the first building on the right.
            </p>
        </div>
        <div class="map-image">
        </div>
    </div>
</div>