* {
    box-sizing: border-box;
}

body {
    font-family: 'baskerville old face';
}

.flex-container {
    display: flex;
}

.banner-header {
    background-color: #333333;
    color: white;
    width: 100%;
    text-align: center;
    height: 10%;
    font-size: 2em;
}

.opening-hours-header {
    text-align: center;
    margin-right: 4%;
    font-size: 3em;
}

.opening-hours {
    width: 16%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.5em;
}

.information-header {
    text-align: center;
    font-size: 1.5em;
    height: 10%;
    background-color: #333333;
    color: white;
}

.information-header-text {
    padding-top: 1%;
}

.store-banner {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: -2%;
}

.information-area {
    padding-top: 1%;
    padding-bottom: 3%;
    background-image: url('/assets/images/11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.information {
    background-color: #333333;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    margin-top: 2%;
}

.looking-for-antiques {
    padding-top: 1%;
    font-size: 3em;
}

.store-area {
    background-color: #333333;
    height: 55%;
    margin-top: -2%;
}

.store-image {
    background-image: url('/assets/images/storebanner.png');
    height: 26%;
    position: relative;
    top: 5%;
}

.store-button {
    background-color: teal;
    border: 1px solid white;
    color: white;
    padding: 1.5%;
    font-size: 1.5em;
    width: 20%;
    font-family: 'baskerville old face';
    text-decoration: none;
}

.store-button-container {
    text-align: center;
    position: relative;
    margin-top: 7%;
}

.store-ad-header {
    color: white;
    text-align: center;
    font-size: 4em;
    padding-top: 3%;
}

.location-banner {
    text-align: center;
    height: 12%;
    font-size: 1.5em;
    margin-top: -2%;
}

.location-header {
    padding-top: 1.5%;
}

.location-area {
    background-color: #333333;
    height: 66%;
}

.map-directions {
    width: 40%;
    height: 65%;
    background-color: white;
    border: 1px solid #333333;
    margin-left: auto;
    margin-top: 4%;
}

.map-image {
    width: 40%;
    height: 65%;
    background-image: url('/assets/images/Map.png');
    border: 1px solid #333333;
    margin-right: auto;
    margin-top: 3.9%;
    padding-top: 28%;
}

.directions {
    margin-bottom: 3.4%;
    padding-bottom: 2.1%;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.home-banner {
    background-color: #333333;
    text-align: center;
    height: 10%;
}

.home-button {
    color: white;
    background-color: teal;
    padding: 2%;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'baskerville old face';
    border: 1px solid white;
}

@media only screen and (max-width: 1536px) {
    .location-area {
        height: 75%;
    }
    .map-image {
        padding-top: 35%;
    }
    .store-image {
        height: 33%;
    }
    .store-button {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1366px) {
    .location-area {
        height: 85%;
    }
    .map-image {
        margin-top: 4%;
        width: 50%;
        padding-top: 39%;
    }
    .opening-hours {
        width: 20%;
    }
    .store-area {
        height: 62%;
    }
}

@media only screen and (max-width: 414px){
    .store-button-container {
        margin-top: 15%;
    }
    .location-area {
        height: 86%;
        background-color: transparent;
    }
    .map-image {
        width: 56%;
        padding-top: 39.4%;
        padding-bottom: 130%;
    }
    .banner-header {
        height: 18%;
    }
    .opening-hours {
        width: 60%;
    }
    .information-header {
        height: 14%;
    }
    .information {
        width: 80%;
    }
    .store-ad-header {
        font-size: 3em;
        margin-bottom: 0%;
    }
    .store-button {
        width: 45%;
    }
    .flex-container {
        display: block;
    }
    .map-directions {
        width: 100%;
    }
    .map-image {
        background-image: url('/assets/images/map\ small.png');
        width: 100%;
    }
    .home-banner {
        margin-top: 125%;
        padding-top: 7%;
    }
    .store-area {
        height: 52%;
    }
    .store-image {
        background-position: right;
    }
    .location-banner {
        height: 8%;
    }
}

@media only screen and (max-width: 375px) {
    .banner-header {
        height: 24%;
    }
    .opening-hours {
        width: 100%;
        font-size: 2em;
    }
    .information-header {
        height: 18%;
    }
    .information {
        width: 80%;
    }
    .store-ad-header {
        font-size: 3em;
    }
    .store-image {
        top: 0%;
        background-position: right;
    }
    .store-button {
        padding: 3.5%;
        width: 60%;
    }
    .flex-container {
        display: block;
    }
    .location-banner {
        height: 8%;
    }
    .map-directions {
        height: 100%;
        width: 100%;
    }
    .map-image {
        height: 100%;
        width: 100%;
        background-image: url('/assets/images/map\ small.png');
    }
    .store-banner {
        height: 15%;
    }
    .store-area {
        height: 74%;
    }
    .home-banner {
        margin-top: 190%;
        padding-top: 6%;
    }
}

@media only screen and (max-width: 360px) {
    .banner-header {
        height: 25%;
        font-size: 1.8em;
    }
    .opening-hours {
        width: 80%;
        font-size: 1.5em;
    }
    .information-header {
        height: 10%;
        font-size: 1em;
    }
    .information {
        width: 85%;
    }
    .store-banner {
        height: 12%;
        margin-top: -6%;
    }
    .looking-for-antiques {
        padding-top: 0%;
    }
    .store-ad-header {
        font-size: 2em;
        margin-top: 12%;
    }
    .store-image {
        background-position: right;
    }
    .store-button {
        width: 65%;
        margin-top: 5%;
    }
    .location-banner {
        margin-top: -6%;
        height: 18%;
    }
    .flex-container {
        display: block;
    }
    .location-area {
        height: 96%;
    }
    .map-directions {
        height: 100%;
        width: 100%;
    }
    .map-image {
        height: 90%;
        width: 100%;
        background-image: url('/assets/images/map\ small.png');
    }
    .store-area {
        height: 50%;
    }
    .home-banner {
        margin-top: 175%;
    }
}