<div class="event-header">
    <h1>These events are going on at the moment:</h1>
</div>
<div class="event-area">
    <div class="event-content">
        <h1 class="sub-header">Workshops</h1>
        <p>
            We are looking into having a few different workshops on site that would be run by individual traders. During the workshops, you can learn about: Chalk Painting,
            Xmas card making, Xmas rag wreath making, Leather working, Miniature succulent garden making and Glass painting. 
        </p>
        <h1 class="sub-header">When are these events running?</h1>
        <p>
            No date currently set. Once some interest has developed dates will be set.
        </p>
        <h1 class="sub-header">Where can these events be found?</h1>
        <p>
            These workshops will be going on at the Antiquarium! Once you have entered through the gates of the Munitions Depot, we are on the left-hand side of the first 
            building on the right.
        </p>
        <h1 class="sub-header">Interested? Sign up below!</h1>
        <div>
            <label for="name" class="box-label">Name:</label>
            <input type="text" id="name" name="name" class="text-box-small">
            <label for="phone" class="box-label">Phone Number:</label>
            <input type="text" id="phone" name="phone" class="text-box-small"> 
            <label for="email" class="box-label">Email Address:</label>
            <input type="text" id="email" name="email" class="text-box-small">
        </div>
        <div>
            <label for="message">Any concerns or questions? Drop us a message!</label>
            <textarea name="message" id="message" rows="8" cols="100" class="text-box-large">
                </textarea>
            <button name="submit" id="submit" class="submit">Submit</button>
        </div>
    </div>
</div>