<head>
    <link rel="stylesheet" href="./item.component.scss">
    <meta content="width=device-width, initial scale=1" name="viewport">
</head>
<body>
    <div class="item-name">
        <h1>Sitting frog statue</h1>
    </div>
    <div>
        <img src="../assets/images/frog.jpg" class="item-image">
    </div>
    <div class="item-description">
        <p>I was wandering through the streets of the city, wandering through the avenues of time. When from nowhere my eyes fell onto a girl and by chance her eyes fell onto mine.
            So I sat and I acted all nonchalant, she smoked her lavender cigarette. Reading the future that lay in her hand, my shadow played a bass clarinet. We waltzed down a 
            moonlit boulevard, just two silhouettes in the mist. Days went by and years went by, moments went by when we kissed. She said your beard is woven of heartache, and we'll
            drink for the lonely tonight, and the moon is a horny old drunkard. We drank dandelion wine and we reminisced about the moment when we first met that day. Then we 
            reminisced about how we first reminisced. She looked like a peruvian river, she looked like a chocolate eclaire, her eyes were reflections of ice, and the rainbows
            danced in her hair. She looked like a winters morning, her perfume was ode t'oilette, she was comparable to Cleopatra, she was like Shakespeare's Juliet. The 
            Bohemians of Soho De'Pouette, as we waltzed down the streets of Manhattan. On rivers of ribbon and sailboats of song. There's a girl I described she's as real as the
            wind, it's true I saw her today. The other details are inventions, because I prefer her that way.
        </p>
    </div>
    <div class="item-availability">
        <h1>Availability</h1>
        <p class="item-availability-message">Still available</p>
    </div>
</body>