.body {
    border: 2px solid #333333;
    height: 100%;
    width: 100%;
}

.header-banner {
    background-color: #333333;
    width: 100%;
    text-align: center;
    color: white;
    height: 12%;
    margin-top: -1.7%;
}

.primary-header {
    font-size: 3em;
}